<form>
<label for="First Name"><b>FirstName</b></label>
<input type="text" placeholder="Enter name" name="name" required>

<label for="Gender"><b>Gender</b></label>
<select>
  <option value="male">Male</option>
  <option value="female">Female</option>
</select>
<label for="Email"><b>Email</b></label>
<input type="text" placeholder="Enter name" name="Email" required>
<label for="Experience"><b>Experience</b></label>
<input type="number" placeholder="experience" name="Experience" required>
<label for="Designation"><b>Experience</b></label>
<input type="text" placeholder="designation" name="designation" required>

<label for="EmployeeType"><b>EmployeeType</b></label>
<form>
  <input type="radio" name="EmployeeType" value="permanent" checked> Male<br>
  <input type="radio" name="EmployeeType" value="temporary"> Female<br>
  <input type="radio" name="EmployeeType" value="contract"> Other  
</form> 
<button (click)='Register()'>Submit</button> 
</form>
